# Copia este archivo a .env y añade tus valores privados antes de docker-compose up -d

# Secret para firmar y verificar tokens JWT de autenticación
JWT_SECRET=your_jwt_secret_here

# Credenciales de Firebase/GCP en formato base64
GCP_CREDENTIAL_JSON_BASE64=your_credential_json_base64_here

# Puerto en el que se ejecutará el servidor
PORT=8080

# Modo de ejecución de Gin (debug/release)
GIN_MODE=debug

# Variables para el emulador de Firestore (para desarrollo)
FIRESTORE_EMULATOR_HOST=firestore-emulator:8200
FIRESTORE_PROJECT_ID=ecommerce-user-service-local